<!Doctype html>
<head>
    <meta charset="UTF-8" lang="en">
    <title>Country Battle-Royale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <H1>Welcome to CBR! (Country Battle-Royale)</H1>
    <H2>Which country is bigger? (Population + Area) ?</H2>

    <div>COUNTRY1: {{ country_1_flag }} {{ country_1 }}</div>
    <div>OR</div>
    <div>COUNTRY2: {{ country_2_flag }} {{ country_2 }}</div>

    <form method="post">

        <input type="hidden" name="country1" value="{{ country_1 }}">
        <input type="hidden" name="country2" value="{{ country_2 }}">

        <button name="guess" value="country1">Country 1 wins</button>
        <button name="guess" value="draw">It's a draw</button>
        <button name="guess" value="country2">Country 2 wins</button>

    </form>

        {% if data %}
            <h3>Outcome:</h3>
            {% if is_correct %}
            <strong>&#9989; Correct!</strong>
            {% else %}
            <strong>&#10060; Wrong!</strong>
            {% endif %}
            <h3>Stats:</h3>
            {% for country, stats in data.items() %}
                <div class="country-card">
                    {{ stats["Flag"] }} {{ country }} - {{ stats["Points"] }} points
                    <p>Population: {{ stats["Population"] }}</p>
                    <p>Area(km²): {{ stats["Area(km)"] }}</p>
                </div>
            {% endfor %}
        {% endif %}

    <form method="get">
        <button>Next round</button>
    </form>

</body>
